[Unit]
Description=Cabot
AssertPathExists={{ cabot_config.venv_path }}
Wants=cabot-beat.service cabot-worker.service
Before=cabot-beat.service cabot-worker.service

[Service]
ExecStartPre={{ cabot_config.venv_path }}/bin/cabot migrate --no-input
ExecStart={{ cabot_config.venv_path }}/bin/gunicorn cabot.wsgi:application -b 127.0.0.1:5000 --workers=5
EnvironmentFile={{ cabot_config.config_file }}

[Install]
WantedBy=multi-user.target
