[Unit]
Description=Cabot
AssertPathExists={{ cabot_venv_path }}
Wants=cabot-beat.service cabot-worker.service
Before=cabot-beat.service cabot-worker.service

[Service]
ExecStartPre={{ cabot_venv_path }}/bin/cabot migrate --no-input
ExecStart={{ cabot_venv_path }}/bin/gunicorn cabot.wsgi:application -b {{ cabot_listen_address }}:{{ cabot_listen_port }} --workers={{ cabot_listen_workers }}
EnvironmentFile={{ cabot_config_file }}

[Install]
WantedBy=multi-user.target
