## Cabot UI URL setup
# Base path to include before generated URLs.  If not defined, uses `/`
URL_PREFIX={{ cabot_url_prefix }}

# Used for pointing links back in alerts etc.
WWW_HTTP_HOST={{ cabot_www_http_host }}
# Probable values: http, https
WWW_SCHEME={{ cabot_www_scheme }}

## Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
TIME_ZONE={{ cabot_time_zone }}

## URL of calendar to synchronise rota with
CALENDAR_ICAL_URL={{ cabot_calendar_rota }}

## Django admin email, 'from' address for email alerts
ADMIN_EMAIL={{ cabot_admin_email }}
CABOT_FROM_EMAIL={{ cabot_from_email }}

## Django settings
CELERY_BROKER_URL=redis://:{{ cabot_redis_password }}@{{ cabot_redis_host }}:{{ cabot_redis_port }}
# Create a random string of mixed case alphanumeric characters, > 40 chars.
# https://www.browserling.com/tools/random-string is a site that can do this
DJANGO_SECRET_KEY={{ cabot_django_secret_key }}

## Graphite server settings
# Hostname of your Graphite server instance (including trailing slash)
GRAPHITE_API={{ cabot_graphite_api }}
GRAPHITE_USER={{ cabot_graphite_user }}
GRAPHITE_PASS={{ cabot_graphite_password }}

# Graphite stats are evaluated through a time period to identify transient
# failures. This setting determines how many minutes back a test should
# evaluate.
# If not defined, evaluate 'now through 10 minutes ago' (-10minute)
GRAPHITE_FROM={{ cabot_graphite_from }}

## User-Agent string used for Cabot HTTP checks
HTTP_USER_AGENT={{ cabot_http_user_agent }}

## Email plugin integration
EMAIL_HOST={{ cabot_user_email_host }}
# SMTP authentication settings. To disable SMTP authentication, comment out
#  both EMAIL_USER and EMAIL_PASSWORD.
EMAIL_USER={{ cabot_user_email }}
EMAIL_PASSWORD={{ cabot_user_email_pass }}

# Typical SMTP port 587 configuration
EMAIL_PORT={{ cabot_email_port }}
EMAIL_USE_TLS={{ cabot_email_use_tls }}
EMAIL_USE_SSL={{ cabot_email_use_ssl }}

# Typical SMTP port 25 configuration (with no SSL/TLS)
# EMAIL_PORT=587
# EMAIL_USE_TLS=0
# EMAIL_USE_SSL=0

## Hipchat plugin integration
HIPCHAT_ALERT_ROOM={{ cabot_hipchat_alert_room }}
HIPCHAT_API_KEY={{ cabot_hipchat_api_key }}

## SLACK
SLACK_ALERT_CHANNEL={{ cabot_slack_alert_channel }}
SLACK_WEBHOOK_URL={{ cabot_slack_webhook_url }}
SLACK_INTERACTIVE_MESSAGE={{ cabot_slack_interactive_message }}
## Twilio plugin integration (for SMS and telephone alerts)
TWILIO_ACCOUNT_SID={{ cabot_twilio_account_sid }}
TWILIO_AUTH_TOKEN={{ cabot_twilio_auth_token }}
TWILIO_OUTGOING_NUMBER={{ cabot_twilio_outgoing_number }}

## Jenkins integration
JENKINS_API={{ cabot_jenkins_api }}
JENKINS_USER={{ cabot_jenkins_user }}
JENKINS_PASS={{ cabot_jenkins_pass }}

## Use for LDAP authentication
AUTH_LDAP={{ cabot_auth_ldap }}
AUTH_LDAP_SERVER_URI={{ cabot_auth_ldap_server_uri }}
AUTH_LDAP_BIND_DN={{ cabot_auth_ldap_bind_dn }}
AUTH_LDAP_BIND_PASSWORD={{ cabot_auth_ldap_bind_password }}
AUTH_LDAP_USER_FILTER={{ cabot_auth_ldap_user_filter }}
AUTH_LDAP_USER_SEARCH={{ cabot_auth_ldap_user_search }}

###########################################################################
## You shouldn't need to change anything below this line                  #
###########################################################################

## Plugins to be loaded at launch
CABOT_PLUGINS_ENABLED={{ (cabot_plugins)|join(',') }}

## Database settings
DATABASE_URL=postgres://{{ cabot_db_user }}:{{ cabot_db_pass  }}@{{ cabot_redis_host }}:5432/{{ cabot_db }}
DJANGO_SETTINGS_MODULE=cabot.settings

DEBUG={{ cabot_debug }}
LOG_FILE={{ cabot_log_folder }}/cabot.log

## Cabot localhost operating port (point a reverse proxy to here or use Caddy)
PORT={{ cabot_listen_port }}

VENV={{ cabot_venv_path }}
