[Unit]
Description=Cabot
AssertPathExists={{ cabot_config.venv_path }}
BindsTo=cabot.service
After=cabot.service

[Service]
ExecStart={{ cabot_config.venv_path }}/bin/celery beat -A cabot --loglevel=DEBUG
EnvironmentFile={{ cabot_config.config_file }}
